@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: Dongding;
  src: url('./assets/fonts/Dongding.otf');
}
.boldFont{
   font-family: "Boldonse", system-ui ;
  font-weight: 400;
  font-style: normal;
}
.dongDing{
  font-family: Dongding !important;
}
